<%- include("partials/header") -%>


  
<br><br><br><br>
<div class="container text-center mt-5">
    <h2 class="colorfull-text">EXPLORE</h2>


    <div class="mt-5">
        <img style="height: 250px; width: 100%;" src="https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/static/home/thespacedevs/images/round_logo.svg" alt="">
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a href="/apod">
                <button class="APOD button__design" type="button">Astronomy Picture of the Day - NASA</button>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/card">
                <button class="Blog button__design" type="button">Space-Cosmos Blog</button>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/news">
                <button class=" button__design" type="button">News</button>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/reports">
                <button class=" button__design" type="button">Reports by Nasa</button>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/contact">
                <button class="Phobos button__design" type="button">Contact us</button>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/weather">
                <button class="Mars button__design" type="button">Weather</button>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/login">
                <button class="Mars button__design" type="button">Login</button>
            </a>
        </div>

    </div>
     <br> <br> 
  </div>

<%- include("partials/footer") -%>
