<%- include("partials/header") -%>


<br><br><br><br><br><br>
<div class="container">
    <h3 class="colorfull-text">Please Enter Right Admin Username and Password</h3>
    <p>Contact admins to get your username and password</p>
    <a href="/login">
        <button class="btn btn-light"><- Go Back</button>
    </a>
</div>


<%- include("partials/footer") -%>