<%- include("partials/header") -%>

<!-- <a onclick="changeTheme">change Theme</a> -->


    <div class="Intro text-center container">
      <h1 class="colorfull-text">SPACE-COSMOS <br> BLOG WEBAPP</h1>
      <h3 class="para"> <small>Space is Awesome <br>Explore Unknown talks on Space</small></h3>
      <a href="/explore"><button class="explore-button">EXPLORE --></button></a>
  </div>

  <!-- <div class="container mt-5">
    <img class="hero-octonaut" src="https://atom.io/assets/index-octonaut-8ece2623b8966578e2414c89b7b7190cb56339d1f8b7d260adf62110ce9f39c4.svg" alt="">
  </div> -->








<%- include("partials/footer") -%>
