<%- include("partials/header") -%>

<!-- <a onclick="changeTheme">change Theme</a> -->


    <div class="Intro text-center container">
      <h1 class="colorfull-text">SPACE-COSMOS <br> BLOG WEBAPP</h1>
      <h3 class="para"> <small>Space is Awesome <br>Explore Unknown talks on Space</small></h3>
      <a href="/explore"><button class="explore-button">EXPLORE --></button></a>
  </div>








<%- include("partials/footer") -%>
