<%- include("partials/header") -%>

<br><br><br><br><br><br><br><br>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <a href="/UserLogin">
                <img src="/images/user1.jpg" height='250px' style="border-radius: 5%;" alt=""><br>
                <button class="btn btn-light mt-3 mb-5 btn-lg">User</button>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="/AdminLogin">
                <img src="/images/admin.jpg" height="250px" style="border-radius: 5%;" alt=""><br>
                <button class="btn btn-light mt-3 mb-5 btn-lg">Admin</button>
            </a> 
        </div>
    </div>
</div>

<%- include("partials/footer") -%>